* {
    padding: 0;
    margin: 0;
}

.index-container {
    background: linear-gradient(to bottom, #3A6073, #16222A);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register-card {
    background: linear-gradient(to bottom, #b29f94, #603813);
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 40px;
}

.user, .admin, .user-but1, .user-but2 {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-route, .admin-route, .ur-route, .ul-route, .al-route, #user-reg-but, #user-log-but {
    background-color: #37474f;
    color: white;
    font-size: 1.3rem;
    width: 110px;
    height: 40px;
    border-radius: 10px;
}

.user-route:hover, .admin-route:hover, .ur-route:hover, .ul-route:hover, .al-route:hover {
    background-color: #263238;
}

.user-register, .user-login, .admin-login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ur-form, .ul-form, .al-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-inputs {
    color: white !important;
}

.admin-dashboard-page {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.admin-navbar-cont {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.admin-navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-logo, .navbar-find-user, .navbar-list-user, .navbar-list-admin, .navbar-tree, .navbar-profile {
    height: 100%;
}

.navbar-logo {
    margin-right: 15px;
}

.navbar-logo-link {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.navbar-logo-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: chocolate;
}

.navbar-find-link, .navbar-list-link, .navbar-admin-link, .navbar-tree-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.admin-navbar-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar-profile-link {
    color: white;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(14, 12, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-logout-but {
    background-color: #37474f;
    border-radius: 10px;
}

.user-logout-but:hover {
    background-color: #263238;
}

.admin-dashboard-body {
    width: 100vw;
    height: calc(100vh - 60px);
    padding: 200px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.admin-dashboard-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-dashboard-name {
    font-size: 4.8rem;
    font-weight: 600px;
}

.admin-dashboard-text {
    font-size: 2rem;
    font-weight: 400;
}













.hidden {
    display: none;
}