* {
    padding: 0;
    margin: 0;
}

.index-container {
    background: linear-gradient(to bottom, #3A6073, #16222A);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register-card {
    background: linear-gradient(to bottom, #b29f94, #603813);
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 40px;
}

.user, .admin, .user-but1, .user-but2 {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-route, .admin-route, .ur-route, .ul-route, .al-route, #user-reg-but, #user-log-but {
    background-color: #37474f;
    color: white;
    font-size: 1.3rem;
    width: 110px;
    height: 40px;
    border-radius: 10px;
}

.user-route:hover, .admin-route:hover, .ur-route:hover, .ul-route:hover, .al-route:hover {
    background-color: #263238;
}

.user-register, .user-login, .admin-login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ur-form, .ul-form, .al-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-inputs {
    color: white !important;
}

.admin-dashboard-page, .find-user-page, .user-list-page, .admin-list-page, .visualization-page, .delivery-page {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.admin-navbar-cont {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.admin-navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-logo, .navbar-find-user, .navbar-list-user, .navbar-list-admin, .navbar-tree, .navbar-profile, .navbar-delivery {
    height: 100%;
}

.navbar-logo {
    margin-right: 15px;
}

.navbar-logo-link {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.navbar-logo-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: chocolate;
}

.navbar-find-link, .navbar-list-link, .navbar-admin-link, .navbar-tree-link, .navbar-delivery-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.admin-navbar-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar-profile-link {
    color: white;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(14, 12, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-logout-but {
    background-color: #37474f;
    border-radius: 10px;
}

.user-logout-but:hover {
    background-color: #263238;
}

.admin-dashboard-body {
    width: 100vw;
    height: calc(100vh - 60px);
    padding: 200px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.admin-dashboard-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-dashboard-name {
    font-size: 4.8rem;
    font-weight: 600px;
}

.admin-dashboard-text {
    font-size: 2rem;
    font-weight: 400;
}

.find-user-body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 100px 80px 0 80px;
    display: flex;
    flex-direction: column;
}

.visualization-body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 50px 80px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery-body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 50px 80px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.find-search-bar {
    height: 40px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.search-bar {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    padding: 2px 5px;
}

.search-text-box {
    height: 40px !important;
    width: 355px !important;
    border: none !important;
    margin: 0 !important;
    font-size: 1.3rem !important;
}

.search-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border-right: 1px solid grey;
}

.search-text-box:focus {
    border: none !important;
    box-shadow: none !important;
}

.search-suggestion {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: column;
    overflow-y: auto;
    min-height: 200px;
    gap: 5px;
}

.suggestion-item {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 5px;
    cursor: pointer;
    border-bottom: 1px solid rgb(51, 46, 46);
}

.suggestion-item:hover {
    background-color: rgb(51, 46, 46);
    color: white;
}

.user-list-body, .admin-list-body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 50px 80px 0 80px;
    display: flex;
    flex-direction: column;
}

.user-list-head, .admin-list-head {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.user-list-cards, .admin-list-cards {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.user-list-cards-col1, .user-list-cards-col2, .admin-list-cards-col1, .admin-list-cards-col2 {
    min-width: 48%;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-list-display-card, .admin-list-display-card {
    color: white;
    min-width: 100%;
    max-width: 100%;
    height: 120px;
    background-color: #00695c;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
}

.user-list-display-card:hover, .admin-list-display-card:hover {
    background-color: #004d40;
}

.user-card-content, .admin-card-content {
    padding: 10px 20px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.user-card-left, .admin-card-left {
    display: flex;
    flex-direction: column;
}

.user-card-name, .admin-card-name {
    font-size: 2.8rem;
    font-weight: 500;
}

.user-card-id, .admin-card-id {
    font-size: 1.2rem;
    font-weight: 400;
}

.user-card-right, .admin-card-right {
    height: 100px;
    width: 100px;
}

.user-card-img, .admin-card-img {
    background-color: #b3e5fc;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    font-weight: 500;
}

.visualization-header {
    font-size: 3rem;
    font-weight: 500;
}

.Btree-name-text, .Btree-id-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.Btree-name-canvas, .Btree-id-canvas {
    border: 1px solid black;
    padding: 10px;
}

.Btree-name-vis, .Btree-id-vis {
    overflow-x: auto;
}


.search-bar-but {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.searchbar-but {
    background-color: #37474f;
    color: white;
    font-size: 1.2rem;
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

.find-result {
    display: flex;
    margin: 50px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
}

.find-left {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.find-right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.find-photo-card {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.find-pic {
    display: flex;
    background-color: #004d40;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
}

.find-pic-name {
    font-size: 2.5rem;
}

.find-due-online-card {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 5px;
}

.find-due, .find-online, .find-info-id, .find-info-name, .find-info-email, .find-info-contact, .find-info-address {
    display: flex;
    flex-direction: row;
}

.find-due {
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}

.due-online-left {
    display: flex;
    width: 60%;
}

.due-online-right {
    display: flex;
    width: 40%;
    color: #6c757d;
}

.find-info-card {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 10px;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 20px;
}

.find-info-left {
    display: flex;
    width: 30%;
}

.find-info-right {
    display: flex;
    width: 70%;
    color: #6c757d;
}

.find-info-id, .find-info-name, .find-info-email, .find-info-contact {
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}

.find-mag-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.find-news, .find-mags {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
}

.find-news-head, .find-mags-head {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.find-news-list, .find-mags-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    color: #6c757d;
}

.check-name, .check-id {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.name-head, .id-head {
    font-size: 2rem;
}

.name-search, .id-search {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.name-search-but, .id-search-but {
    background-color: #37474f;
    color: white;
    font-size: 1.2rem;
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

.name-input, .id-input {
    width: 30% !important;
}

.name-check-res, .id-check-res {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
}

.city-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    gap: 20px;
}

.city-head {
    font-size: 2rem;
}

.city-graph {
    display: flex;
    min-width: 100%;
    min-height: 500px;
    max-height: 500px;
    flex-direction: row;
    border: 1px solid;
    overflow-x: scroll;
    overflow-y: scroll;
}

.city-left, .city-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.city-right {
    gap: 180px;
}

.graph1, .graph2, .graph3, .graph4 {
    height: 550px;
    width: 1100px;
}

.graph5, .graph6, .graph7 {
    height: 600px;
    width: 400px;
}

.city-components {
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
}

.component-head, .total-comp, .distance-head {
    font-size: 2rem;
}

.component-list {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 10px;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 80px;
}

.component-detail {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}

.component-detail-last {
    display: flex;
    flex-direction: row;
}

.component-detail-left {
    display: flex;
    width: 15%;
}

.component-detail-right {
    display: flex;
    width: 85%;
    color: #6c757d;
}

.city-distances {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.distance-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 10px;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 80px;
}

.distance-table1, .distance-table2 {
    width: 49%;
}

.table-sep {
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-sep-dot {
    height: 100%;
    border-left: 5px dotted #6c757d;
}








.hidden {
    display: none;
}